* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
}

main > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200px;
}

.img {
    transition: transform 0.3s ease-in-out;
    padding: 5px;
    border-radius: 99%;
    margin-top: 10px;
    margin-left: 92%;
    max-width: 50px;
}

.img:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-5px) rotate(-3deg); 
}